.sidefeed {

    flex: 3;
    height: min-content;
    margin: 0.5rem;
    background-color: white;
    border: 1px solid #cfd1d3;
    border-radius: 1px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-div {
    display: flex;
    flex-direction: start;
    margin: 1rem;
    align-items: center;
}

.profilepicture {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.profiletitle {
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;

}

.connection-div {
    width: 90%;
    height: 25%;
    margin-bottom: 0.5rem;
    border: 1px solid #b9b8b8;
    border-radius: 0.5rem;
    background-color: rgb(248, 242, 242);
    display: flex;
    flex-direction: column;
}

.connectiontitle {
    font-family: sans-serif;
    color: #9c9c9c;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.connectionprofiles {
    display: flex;
    flex-wrap: wrap;

}

.feedpicture {
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}



.connection {
    margin: 2px;
    border: 1px solid grey;
}

.history {

    margin: 2px;
    border: 1px solid grey;
    border-radius: 15%;
} 

.saved {

    margin: 2px;
    border: 1px solid grey;
    border-radius: 15%;
}