.feedposts {
    width: 12rem;
    height: 16rem;
    margin: 2px 2px 2px 2px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #cfd1d3;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
}

.postImage {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    border-radius: 10px;
}

.postbody {
    display: flex;
    flex-direction: column;
}

.post-interaction {
    display: flex;
    flex-direction: start;
}

.starIcon {
    margin: 0 0.2rem 0 0.2rem;
}

.commentIcon {
    margin-right: 5rem;
}

.postDate {

    font-family: "Lora", sans-serif;
    font-style: italic;
    font-size: 0.7rem;
    color: rgb(156, 156, 156);
}

.post-title {
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 700;
    margin: 0.4rem 0 0 0.2rem;
    cursor: pointer;
}

.post-catagories {
    margin-left: 0.2rem;    
    font-family: sans-serif;
    font-size: 0.6rem;
    color: #be9656;
    line-height: 20px;
    cursor: pointer;
}