.general {
    display: flex;
    flex-direction: column;
}

.pinfoTitle {

    margin: 1rem 0 0 1rem;
    font-size: large;
    text-decoration:underline;
}

.personalinfo {
    width:90%;
    height: auto;
    margin: 0.2rem 0 0 1rem;
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}


label {
    margin-left: 1.5rem;
}

input {
    margin: 0.2rem 0 1rem 1.5rem;
    width: 80%;
    height: 1.5rem;
    border: 0.5px solid grey;
    border-radius: 5px;
}

.updatebutton {
    margin:  4rem 1rem 1rem auto;
    height: 1.5rem;
    width:5rem;
    background-color: rgb(77, 77, 230);
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.accountInfo {
    align-items: center;
    width:90%;
    height:2rem;
    margin: 0.2rem 0 0 1rem;
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

span {
    font-size: 0.9rem;
    color: rgb(78, 78, 78);
}

.deletebutton {

    margin: 0.2rem 0 0 auto;
    font-size: 0.7rem;
    height: 1.5rem;
    width:8rem;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    color: grey;
    font-weight: bold;
    cursor: pointer;
}