.canvas {

    min-height: 100vh;
    height: auto;
    width: 1000px;
    background-color: white;
    color: black;

    display: flex;
    flex-direction: column;
    align-items: center;
}


@media screen and (max-width: 960px) {

    .canvas {
        width: 840px !important;
    }

}


@media screen and (max-width: 860px) {

    .canvas {
        width: 740px !important;
    }

}

@media screen and (max-width: 760px) {

    .canvas {
        width: 600px !important;
    }

}

@media screen and (max-width: 620px) {
    
    .canvas {
        width: 500px !important;
    }
}

@media screen and (max-width: 400px) {
    
    .canvas {
        width: 320px !important;
    }
}
